@import '../utils/utils.less';

.product-feature-container {
	width: 80%;
	height: 235px;
	margin: 0 auto;
	padding-top: 30px;
	background-color: #fbfafa;
	
	@media @mq-lg-min {
		height: 335px;
		padding-top: 135px;
	}
	
	.heading-container {
		width: 100%;
		height: 50px;
		margin: 0 auto;
		padding-bottom: 20px;
		text-align: center;
		
		@media @mq-lg-min {
			width: 65%;
		}
		
		span {
			font-size: 26px;
			font-weight: bold;
			color: @reln-blue;
			text-transform: uppercase;
		}
	}
	
	.features-container-underline {
		width: 125px;
		height: 3px;
		background-color: @reln-blue;
		margin: 0 auto;
		margin-top: 18px;
		
		@media @mq-lg-min {
			margin-top: 20px;
		}
	}
}