@import '../utils/utils.less';

/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/

.product-feature-container {
	width: 100%;
	height: auto;
	padding-top: 50px;
	background-color: #fafafa;
	
	@media @mq-xs-min {
		padding-top: 65px;	
	}
	
	@media @mq-md-min {
		padding-top: 85px;	
	}
	
	@media @mq-lg-min {
		height: 260px;
		width: 78%;
		padding-top: 100px;		
    	margin: 0 auto;
	}
	
	.heading-container {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
		color: @reln-blue;
		text-transform: uppercase;
		
		@media @mq-xs-min {
			padding-bottom: 70px;	
		}
		
		@media @mq-sm-min {
			padding-bottom: 90px;	
		}
		
		@media @mq-md-min {
			padding-bottom: 100px;	
		}
		
		@media @mq-lg-min {
			width: 65%;
			padding-bottom: 10px;	
		}
		
		@media @mq-xl-min {
			padding-bottom: 30px;	
		}
	}
	
	.features-container-underline {
		width: 125px;
		height: 2px;
		background-color: @reln-blue;
		margin: 0 auto;
		margin-top: 25px;
		
		@media @mq-lg-min {
			margin-top: 20px;
		}
	}
}