@import '../utils/utils.less';

.navbar-default {
	background-color: @white;
	border-color: @white; 
	
	.navbar-header-container {
		float: none;
	}
	
	.navbar-collapse {
		border-color: @white;
		background-color: @reln-blue;
		color: @white;
		visibility: visible;
		
		@media @mq-md-min {
			background-color: @white;
			color: @reln-blue;
		}
	}
	
	.side-collapse-container {
		width: 100%;
		position: relative;
		left: 0;
		transition: left .4s;
	}
	
	.side-collapse {
		position: fixed;
		top: 104px;
		bottom: 0;
		right: 0;
		width: 100%;
		overflow-x: hidden;
		transition: none;
		background-color: @reln-blue;		
		
		@media @mq-md-min {
			position: absolute;
			top: 0;
			height: 190px;
			background-color: transparent;
		}
	}
	
	.side-collapse.in {
		width: 0;
		
		@media @mq-md-min {
			width: 100%;
		}
	}
	
	.side-collapse.activated {
		transition: width .4s;	
	}
	
	.reln-nav-tel-link {
		height: 40px;
		margin-top: 30px;
		text-align: center;
		color: @grey-light;
		white-space: nowrap;
		
		a {
			color: @white;
			white-space: nowrap;
			font-size: 25px;

			&:hover,
			&:focus {
				color: @grey-light;
			}
			
			@media @mq-md-min {
				margin-right: 20px;
				color: #000;
				font-size: 15px;
				font-weight: bold;
			}
		}
		
		@media @mq-md-min {
			margin-top: 10px;
			text-align: right;
			color: #000;
			background-color: transparent;
		}
	}
	
	.reln-nav {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		
		li {
			height: 50px;
			text-align: left;			
			
			@media @mq-xs-min {
				margin-left: 10%;
			}
			
			@media @mq-sm-min {
				margin-left: 20%;
			}
			
			@media @mq-md-min {
				margin-left: 0;
			}
			
			a {
				display: inline-block;
				padding-bottom: 0;
				color: @white;
				white-space: nowrap;
				font-size: 19px;
				text-transform: uppercase;
				
				@media @mq-md-min {
					font-size: 14px;
					padding-right: 9px;
					padding-left: 9px;
				}
				
				@media @mq-lg-min {
					font-size: 16px;
					padding-right: 15px;
					padding-left: 15px;
				}
				
				@media @mq-xl-min {
					font-size: 17px;
					padding-right: 30px;
					padding-left: 30px;
				}
				
				&:hover {
					color: @grey-light;
					border-bottom-color: @grey-light;
					border-bottom-width: 4px;
					border-bottom-style: solid;
					
					@media @mq-md-min {
						color: @reln-blue;
						border-bottom-color: @reln-blue;
					}
				}
				
				@media @mq-md-min {
					color: #0081bc;
					padding-bottom: 13px;
				}
			}
		}
		@media @mq-md-min {
			margin-top: 35px;
		}
	}
	
	.reln-secondary-nav-container {
		float: none;
		width: 275px;
		margin: 0 auto;
		margin-bottom: 70px;
		
		.reln-nav2 {
			li {
				height: 20px;
				display: inline-block;
				
				&:first-child a {
					&:before {
						display: none;
						content: 'New';
						position: absolute;
						left: -17px;
						top: -4px;
						width: 28px;
						height: 28px;
						padding-top: 4px;
						padding-left: 2px;
						-moz-border-radius: 28px;
						-webkit-border-radius: 28px;
						border-radius: 28px;
						background-color: red;
						color: @white;
						font-size: 11px;
						
						@media @mq-xs-min {
							display: block;
						}
					}
				}
				
				&:last-child {
					display: block;
					text-align: center;
				}
				
				a {
					color: @white;
					white-space: nowrap;
					font-size: 17px;
					padding-bottom: 0;
					
					&:hover {
						color: @grey-light;
					}
					
					@media @mq-md-min {
						color: @reln-blue;
					}
				}
			}
		}
		
		@media @mq-md-min {
			float: right;
			width: 510px;
			margin-bottom: 15px;
		}
	}
	
	.navbar-toggle {
		z-index: 1000;
		width: 65px;
		margin: 0;
		padding-top: 15px;
		margin-top: 10px;
		text-align: center;
		border: none;
		border-radius: 0;
		background: @white;
		transition: all 0.5s ease;

		p.btn-text {
			margin-bottom: 0;
			color: @reln-blue;
			font-size: 14px;
			line-height:14px;
			text-transform: uppercase;
			transition: all 0.5s ease;
		}

		&:hover,
		&:focus {
			background: @reln-blue;

			p.btn-text {
				color: @white;
			}

			.hamburger-bar {
				background: @white;
				transition: all 0.5s ease;
			}
		}

		.hamburger {
			position: relative;
			display: inline-block;
			width: 23px;
			height: 16px;
		}

		.hamburger-bar {
			background: @reln-blue;
			.tbk-transform(rotate(0));
			opacity: 1;
			.size(100%, 2px);
			position: absolute;
			left: 0;
			top: 50%;
			transition: all 0.5s ease;

			&:first-of-type {
				top: 0;
			}

			&:nth-of-type(2) {
				top: 50%;
				margin-top: -1px;
			}

			&:last-of-type {
				top: 100%;
				margin-top: -2px;
			}
		}

		@media @mq-sm-min {
			display: block;
		}

		@media @mq-md-min {
			display: none;
		}
	}

	.navbar-toggle.collapsed {
		.close-text {
			display: none;
		}
	}

	.navbar-toggle.close-button {
		background: @white;
		transition: background-color 0.5s ease;

		.open-text {
			display: none;
		}

		.icon, p {
			color: @reln-blue;
			transition: all 0.5s ease;
		}

		&:hover,
		&:focus {
			background: @reln-blue;
			transition: background-color 0.5s ease;
			.icon, p {
				color: @white;
				transition: all 0.5s ease;
			}
		}
	}
}