@import '../utils/utils.less';

/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/ 

.product-advantage-container {
	width: 100%;
	height: auto;
	margin-top: 175px;
	
	.heading-container {
		width: 100%;
		padding-top: 125px;
		text-align: center;
		
		.product-advantage-header {
			font-size: 45px;
			color: @reln-blue;
			text-transform: uppercase;
			font-weight: bold;
		}
		
		.product-advantage-tagline {
			color: @reln-blue;
			font-size: 35px;
		}
		
		.heading-container-underline {
			width: 160px;
			height: 3px;
			background-color: @reln-blue;
			margin: 0 auto;
			margin-top: 25px;
			margin-bottom: 30px;		

			@media @mq-lg-min {
				margin-top: 20px;
			}
		}
	}
}