html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  position: relative;
  padding-bottom: 50px;
  /*for sticky footer*/
}
body.disable-scrolling {
  overflow-y: hidden;
}
.main {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .main {
    margin-top: 121px;
  }
}
.wpb_row.container > .vc_col-sm-12 > .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.wpb_row.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
p:empty {
  display: none;
}
@media screen and (min-width: 1200px) {
  .container.container-narrow {
    width: 900px;
  }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
