/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.checklist-item {
  clear: both;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .checklist-item {
    padding-bottom: 58px;
  }
}
.checklist-item .checklist-image {
  float: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .checklist-item .checklist-image {
    float: left;
  }
}
.checklist-item .list-item-copy {
  float: none;
  text-align: center;
  margin-left: 10px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .checklist-item .list-item-copy {
    float: left;
    margin-left: 25px;
  }
}
