.product-feature-container {
  width: 100%;
  height: 363px;
  padding-top: 100px;
  background-color: #fbfafa;
}
.product-feature-container .heading-container {
  width: 65%;
  height: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  color: #003d79;
  text-transform: uppercase;
}
.product-feature-container .features-container-underline {
  width: 125px;
  height: 2px;
  background-color: #003d79;
  margin: 0 auto;
  margin-top: 25px;
}
