.footer-nav-container {
  padding-top: 10px;
  text-align: center;
}
.footer-nav-container .footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-nav-container .footer-menu li {
  display: inline;
}
.footer-nav-container .footer-menu li:after {
  content: " | ";
}
.footer-nav-container .footer-menu li:last-child:after {
  content: '';
}
.footer-nav-container .footer-menu li a:hover,
.footer-nav-container .footer-menu li a:focus {
  color: mediumvioletred;
}
.footer-sm-link-container {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2em;
}
.footer-sm-link-container a:hover,
.footer-sm-link-container a:focus {
  color: mediumvioletred;
}
