.page-footer .navbar-fixed-bottom {
  position: inherit;
  padding-top: 75px;
  padding-bottom: 55px;
  background-color: #003d79;
}
.page-footer .navbar-fixed-bottom h4 {
  color: #fff;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .page-footer .navbar-fixed-bottom h4 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .page-footer .navbar-fixed-bottom h4 {
    margin-bottom: 40px;
  }
}
.page-footer .navbar-fixed-bottom .footer-nav-container {
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
.page-footer .navbar-fixed-bottom .footer-nav-container .footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer .navbar-fixed-bottom .footer-nav-container .footer-menu li a:hover,
.page-footer .navbar-fixed-bottom .footer-nav-container .footer-menu li a:focus {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page-footer .navbar-fixed-bottom .footer-nav-container {
    text-align: left;
  }
}
.page-footer .navbar-fixed-bottom .footer-nav-container-secondary {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.page-footer .navbar-fixed-bottom .footer-nav-container-secondary .footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer .navbar-fixed-bottom .footer-nav-container-secondary .footer-menu li a:hover,
.page-footer .navbar-fixed-bottom .footer-nav-container-secondary .footer-menu li a:focus {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page-footer .navbar-fixed-bottom .footer-nav-container-secondary {
    text-align: left;
  }
}
.page-footer .navbar-fixed-bottom .footer-sm-link-container {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.7;
}
.page-footer .navbar-fixed-bottom .footer-sm-link-container a:hover,
.page-footer .navbar-fixed-bottom .footer-sm-link-container a:focus {
  opacity: 1;
}
.page-footer .navbar-fixed-bottom .where-to-buy {
  height: 100px;
  width: 233px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .page-footer .navbar-fixed-bottom .where-to-buy {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .page-footer .navbar-fixed-bottom .where-to-buy {
    width: 95%;
  }
}
.page-footer .navbar-fixed-bottom .where-to-buy .footer-logo-container {
  float: left;
  margin-right: 20px;
  height: 50px;
  opacity: 0.7;
}
.page-footer .navbar-fixed-bottom .where-to-buy .footer-logo-container:hover {
  opacity: 1;
}
.page-footer .navbar-fixed-bottom .where-to-buy .footer-logo-container.rona-logo {
  padding-top: 10px;
}
.page-footer .navbar-fixed-bottom .whats-happening {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  color: #337ab7;
}
.page-footer .navbar-fixed-bottom .whats-happening span {
  font-weight: bold;
  color: #84a2bb;
}
.page-footer .bottom-footer {
  height: 20px;
  margin-top: 20px;
  color: #000;
  font-size: 14px;
}
.page-footer .bottom-footer .tbk-link {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer .bottom-footer .tbk-link {
    text-align: left;
  }
}
.page-footer .bottom-footer .aoda-link {
  text-align: center;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .page-footer .bottom-footer .aoda-link {
    text-align: right;
  }
}
