.navbar-header {
  background-color: #fff;
  border-color: #fff;
}
.navbar-header .navbar-brand {
  float: left;
  color: #3bb0c9;
}
.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus {
  color: mediumvioletred;
}
.navbar-header .navbar-brand .logo {
  max-width: 170px;
  margin-top: 10px;
}
.navbar-header .navbar-nav > li > a {
  color: #3bb0c9;
}
.navbar-header .navbar-nav > li > a:hover,
.navbar-header .navbar-nav > li > a:focus {
  color: mediumvioletred;
}
