.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-collapse {
  border-color: #fff;
  background-color: #003d79;
  color: #fff;
  visibility: visible;
}
@media screen and (min-width: 992px) {
  .navbar-default .navbar-collapse {
    background-color: #fff;
    color: #003d79;
  }
}
.navbar-default .side-collapse-container {
  width: 100%;
  position: relative;
  left: 0;
  transition: left .4s;
}
.navbar-default .side-collapse-container.out {
  left: 200px;
}
.navbar-default .side-collapse {
  top: 85px;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  transition: width .4s;
  background-color: #003d79;
}
.navbar-default .side-collapse.in {
  width: 0;
}
.navbar-default .reln-nav-tel-link {
  height: 40px;
  margin-top: 30px;
  text-align: center;
  color: #bfbfbf;
  white-space: nowrap;
}
.navbar-default .reln-nav-tel-link a {
  color: #fff;
  white-space: nowrap;
  font-size: 25px;
}
.navbar-default .reln-nav-tel-link a:hover,
.navbar-default .reln-nav-tel-link a:focus {
  color: #bfbfbf;
}
.navbar-default .reln-nav-tel-link a:hover:after,
.navbar-default .reln-nav-tel-link a:focus:after {
  content: "";
  height: 3px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #939393 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  margin-bottom: 3px;
  margin-top: 3px;
}
.navbar-default .reln-nav {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-default .reln-nav li {
  height: 50px;
}
.navbar-default .reln-nav li:hover:after,
.navbar-default .reln-nav li:focus:after {
  content: "";
  height: 2px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #939393 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  margin-bottom: 3px;
  margin-top: 3px;
}
.navbar-default .reln-nav li a {
  color: #fff;
  white-space: nowrap;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
}
.navbar-default .reln-nav li a:hover {
  color: #bfbfbf;
}
.navbar-default .navbar-toggle {
  z-index: 1000;
  width: 65px;
  margin: 0;
  padding-top: 15px;
  margin-top: 10px;
  text-align: center;
  border: none;
  border-radius: 0;
  background: #fff;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle p.btn-text {
  margin-bottom: 0;
  color: #003d79;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:hover {
  background: #003d79;
}
.navbar-default .navbar-toggle:hover p.btn-text {
  color: #fff;
}
.navbar-default .navbar-toggle:hover .hamburger-bar {
  background: #fff;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:focus {
  background: #fff;
}
.navbar-default .navbar-toggle .hamburger {
  position: relative;
  width: 23px;
  height: 16px;
  display: inline-block;
}
.navbar-default .navbar-toggle .hamburger-bar {
  background: #003d79;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle .hamburger-bar:first-of-type {
  top: 0;
}
.navbar-default .navbar-toggle .hamburger-bar:nth-of-type(2) {
  top: 50%;
  margin-top: -1px;
}
.navbar-default .navbar-toggle .hamburger-bar:last-of-type {
  top: 100%;
  margin-top: -2px;
}
@media screen and (min-width: 768px) {
  .navbar-default .navbar-toggle {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .navbar-default .navbar-toggle {
    display: none;
  }
}
.navbar-default .navbar-toggle.collapsed .close-text {
  display: none;
}
.navbar-default .navbar-toggle.close-button {
  background: #fff;
}
.navbar-default .navbar-toggle.close-button .open-text {
  display: none;
}
.navbar-default .navbar-toggle.close-button .icon,
.navbar-default .navbar-toggle.close-button p {
  color: #003d79;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle.close-button:hover .icon,
.navbar-default .navbar-toggle.close-button:focus .icon,
.navbar-default .navbar-toggle.close-button:hover p,
.navbar-default .navbar-toggle.close-button:focus p {
  color: #003d79;
  transition: all 0.5s ease;
}
