.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-header-container {
  float: none;
}
.navbar-default .navbar-collapse {
  border-color: #fff;
  background-color: #003d79;
  color: #fff;
  visibility: visible;
}
@media screen and (min-width: 992px) {
  .navbar-default .navbar-collapse {
    background-color: #fff;
    color: #003d79;
  }
}
.navbar-default .side-collapse-container {
  width: 100%;
  position: relative;
  left: 0;
  transition: left .4s;
}
.navbar-default .side-collapse {
  position: fixed;
  top: 85px;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  transition: none;
  background-color: #003d79;
}
@media screen and (min-width: 992px) {
  .navbar-default .side-collapse {
    position: absolute;
    top: 0;
    height: 190px;
    background-color: transparent;
  }
}
.navbar-default .side-collapse.in {
  width: 0;
}
@media screen and (min-width: 992px) {
  .navbar-default .side-collapse.in {
    width: 100%;
  }
}
.navbar-default .side-collapse.activated {
  transition: width .4s;
}
.navbar-default .reln-nav-tel-link {
  height: 40px;
  margin-top: 30px;
  text-align: center;
  color: #bfbfbf;
  white-space: nowrap;
}
.navbar-default .reln-nav-tel-link a {
  color: #fff;
  white-space: nowrap;
  font-size: 25px;
}
.navbar-default .reln-nav-tel-link a:hover,
.navbar-default .reln-nav-tel-link a:focus {
  color: #bfbfbf;
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-nav-tel-link a {
    margin-right: 20px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
  }
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-nav-tel-link {
    margin-top: 10px;
    text-align: right;
    color: #000;
    background-color: transparent;
  }
}
.navbar-default .reln-nav {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-default .reln-nav li {
  height: 50px;
  text-align: center;
}
.navbar-default .reln-nav li a {
  display: inline-block;
  padding-bottom: 0;
  color: #fff;
  white-space: nowrap;
  font-size: 19px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-nav li a {
    font-size: 14px;
    padding-right: 9px;
    padding-left: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-default .reln-nav li a {
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.navbar-default .reln-nav li a:hover {
  color: #bfbfbf;
  border-bottom-color: #bfbfbf;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-nav li a:hover {
    color: #003d79;
    border-bottom-color: #003d79;
  }
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-nav li a {
    color: #003d79;
    padding-bottom: 13px;
  }
}
.navbar-default .reln-secondary-nav-container {
  float: none;
  width: 275px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.navbar-default .reln-secondary-nav-container .reln-nav2 li {
  height: 20px;
  display: inline-block;
}
.navbar-default .reln-secondary-nav-container .reln-nav2 li:first-child a:before {
  display: none;
  content: 'New';
  position: absolute;
  left: -17px;
  top: -4px;
  width: 28px;
  height: 28px;
  padding-top: 4px;
  padding-left: 2px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  background-color: red;
  color: #fff;
  font-size: 11px;
}
@media screen and (min-width: 480px) {
  .navbar-default .reln-secondary-nav-container .reln-nav2 li:first-child a:before {
    display: block;
  }
}
.navbar-default .reln-secondary-nav-container .reln-nav2 li:last-child {
  display: block;
  text-align: center;
}
.navbar-default .reln-secondary-nav-container .reln-nav2 li a {
  color: #fff;
  white-space: nowrap;
  font-size: 17px;
  padding-bottom: 0;
}
.navbar-default .reln-secondary-nav-container .reln-nav2 li a:hover {
  color: #bfbfbf;
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-secondary-nav-container .reln-nav2 li a {
    color: #003d79;
  }
}
@media screen and (min-width: 992px) {
  .navbar-default .reln-secondary-nav-container {
    float: right;
    width: 510px;
    margin-bottom: 15px;
  }
}
.navbar-default .navbar-toggle {
  z-index: 1000;
  width: 65px;
  margin: 0;
  padding-top: 15px;
  margin-top: 10px;
  text-align: center;
  border: none;
  border-radius: 0;
  background: #fff;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle p.btn-text {
  margin-bottom: 0;
  color: #003d79;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #003d79;
}
.navbar-default .navbar-toggle:hover p.btn-text,
.navbar-default .navbar-toggle:focus p.btn-text {
  color: #fff;
}
.navbar-default .navbar-toggle:hover .hamburger-bar,
.navbar-default .navbar-toggle:focus .hamburger-bar {
  background: #fff;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle .hamburger {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 16px;
}
.navbar-default .navbar-toggle .hamburger-bar {
  background: #003d79;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle .hamburger-bar:first-of-type {
  top: 0;
}
.navbar-default .navbar-toggle .hamburger-bar:nth-of-type(2) {
  top: 50%;
  margin-top: -1px;
}
.navbar-default .navbar-toggle .hamburger-bar:last-of-type {
  top: 100%;
  margin-top: -2px;
}
@media screen and (min-width: 768px) {
  .navbar-default .navbar-toggle {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .navbar-default .navbar-toggle {
    display: none;
  }
}
.navbar-default .navbar-toggle.collapsed .close-text {
  display: none;
}
.navbar-default .navbar-toggle.close-button {
  background: #fff;
  transition: background-color 0.5s ease;
}
.navbar-default .navbar-toggle.close-button .open-text {
  display: none;
}
.navbar-default .navbar-toggle.close-button .icon,
.navbar-default .navbar-toggle.close-button p {
  color: #003d79;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle.close-button:hover,
.navbar-default .navbar-toggle.close-button:focus {
  background: #003d79;
  transition: background-color 0.5s ease;
}
.navbar-default .navbar-toggle.close-button:hover .icon,
.navbar-default .navbar-toggle.close-button:focus .icon,
.navbar-default .navbar-toggle.close-button:hover p,
.navbar-default .navbar-toggle.close-button:focus p {
  color: #fff;
  transition: all 0.5s ease;
}
