.product-features {
  margin-top: -122px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .product-features {
    margin-top: -107px;
  }
}
@media screen and (min-width: 1200px) {
  .product-features {
    margin-top: -122px;
  }
}
.product-features .product-feature {
  display: inline-block;
  width: 295px;
  height: 485px;
  margin-bottom: 5px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .product-features .product-feature {
    width: 365px;
    margin-bottom: 50px;
  }
}
.product-features .product-feature .product-feature-bg {
  text-align: center;
}
.product-features .product-feature .product-feature-bg img {
  width: 285px;
}
@media screen and (min-width: 480px) {
  .product-features .product-feature .product-feature-bg img {
    width: 350px;
  }
}
.product-features .product-feature .product-feature-bg .product-feature-fg {
  position: absolute;
  width: 260px;
  height: 307px;
  margin: 0 auto;
  margin-top: -56px;
  margin-left: 18px;
  background-color: #fff;
  z-index: 2;
}
@media screen and (min-width: 480px) {
  .product-features .product-feature .product-feature-bg .product-feature-fg {
    width: 306px;
    margin-left: 30px;
  }
}
.product-features .product-feature .product-feature-bg .product-feature-fg img {
  width: 185px;
  margin-top: 25px;
}
@media screen and (min-width: 1200px) {
  .product-features .product-feature .product-feature-bg .product-feature-fg img {
    margin-top: 35px;
  }
}
.product-features .product-feature .product-feature-bg .product-feature-fg h4 {
  margin-top: 25px;
  font-weight: bold;
  color: #003d79;
}
@media screen and (min-width: 1200px) {
  .product-features .product-feature .product-feature-bg .product-feature-fg h4 {
    font-size: 1.2em;
  }
}
.product-features .product-feature .product-feature-bg .product-feature-fg span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.product-features .product-feature .product-feature-bg .product-feature-fg a {
  display: none;
  margin-top: 10px;
  text-align: center;
  color: #003d79;
  font-size: 13px;
}
.product-features .product-feature .overlay {
  position: relative;
  display: none;
  top: -165px;
  width: 310px;
  height: 465px;
  margin-left: -8px;
  border-top: 18px;
  border-top-style: solid;
  border-top-color: #fff;
  border-right: 18px;
  border-right-style: solid;
  border-right-color: #fff;
  border-left: 18px;
  border-left-style: solid;
  border-left-color: #fff;
}
@media screen and (min-width: 480px) {
  .product-features .product-feature .overlay {
    top: -200px;
    width: 380px;
  }
}
.product-features .product-feature:hover .overlay {
  display: block;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
  -moz-box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
  box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
  z-index: 3;
}
.product-features .product-feature:hover .product-feature-bg > .product-feature-fg a {
  display: block;
}
.product-features .product-feature:hover .product-feature-bg > .product-feature-fg a:hover {
  color: #bfbfbf;
}
.product-features .product-feature-channel-drains .product-feature-bg > .product-feature-fg > img,
.product-features .product-feature-catch-basins .product-feature-bg > .product-feature-fg > img {
  margin-bottom: 37px;
}
