.product-solution-container {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .product-solution-container {
    padding-top: 70px;
  }
}
.product-solution-container .heading-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .product-solution-container .heading-container {
    width: 65%;
  }
}
.product-solution-container .heading-container span {
  font-size: 30px;
  font-weight: bold;
  color: #003d79;
  letter-spacing: -2px;
}
@media screen and (min-width: 480px) {
  .product-solution-container .heading-container span {
    font-size: 40px;
  }
}
