/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.product-solution-container {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .product-solution-container {
    padding-top: 70px;
  }
}
.product-solution-container .heading-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .product-solution-container .heading-container {
    width: 65%;
  }
}
.product-solution-container .heading-container span {
  font-size: 30px;
  font-weight: bold;
  color: #003d79;
  letter-spacing: -2px;
}
@media screen and (min-width: 480px) {
  .product-solution-container .heading-container span {
    font-size: 36px;
  }
}
