.product-advantage-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 150px;
}
@media screen and (min-width: 480px) {
  .product-advantage-container {
    margin-top: 175px;
  }
}
.product-advantage-container .heading-container {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .product-advantage-container .heading-container {
    padding-top: 125px;
  }
}
.product-advantage-container .heading-container .product-advantage-header {
  font-size: 30px;
  color: #003d79;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 480px) {
  .product-advantage-container .heading-container .product-advantage-header {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .product-advantage-container .heading-container .product-advantage-header {
    font-size: 45px;
  }
}
.product-advantage-container .heading-container .product-advantage-tagline {
  color: #003d79;
  font-size: 25px;
}
@media screen and (min-width: 480px) {
  .product-advantage-container .heading-container .product-advantage-tagline {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .product-advantage-container .heading-container .product-advantage-tagline {
    font-size: 35px;
  }
}
.product-advantage-container .heading-container .heading-container-underline {
  width: 160px;
  height: 3px;
  background-color: #003d79;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .product-advantage-container .heading-container .heading-container-underline {
    margin-top: 20px;
  }
}
