/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.reln-cta-button {
  width: 100%;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #0081bc;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .reln-cta-button {
    width: 420px;
  }
}
.reln-cta-button .button-text span {
  padding-left: 10px;
  padding-top: 3px;
}
.reln-cta-button .button-text a {
  color: #0081bc;
}
.reln-cta-button:hover {
  border-color: #003d79;
}
.reln-cta-button:hover .button-text a {
  color: #003d79;
}
.content-divider {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #a7c0d9;
}
