@import '../utils/utils.less';

.page-footer {	
	
	.navbar-fixed-bottom {
		position: inherit;
		padding-top: 75px;
		padding-bottom: 55px;
		background-color: @reln-blue;
		
		h4 {
			color: @white;
			margin-bottom: 10px;
			
			@media @mq-sm-min {
				margin-bottom: 20px;
			}
			
			@media @mq-md-min {
				margin-bottom: 40px;
			}
		}

		.footer-nav-container {
			margin-bottom: 20px;
			padding-top: 10px;
			text-align: center;

			.footer-menu {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					
					a:hover, a:focus {
						color: @white;
					}
				}
			}
			
			@media @mq-sm-min {
				text-align: left;
			}
		}
		
		.footer-nav-container-secondary {
			padding-top: 10px;
			text-align: center;
			margin-bottom: 20px;

			.footer-menu {	
				margin: 0;
				padding: 0;
				list-style-type: none;	

				li {
					a:hover, a:focus{		
						color: @white;
					}
				}
			}
			
			@media @mq-sm-min {
				text-align: left;
			}
		}		

		.footer-sm-link-container {
			padding-top: 10px;
			text-align: center;
			font-size: 1.2em;

			a:hover, a:focus {
				color: @white;
			}
		}
		
		.where-to-buy {
			height: 100px;
			width: 275px;
			margin: 0 auto;
			margin-bottom: 20px;
			background-color: #337ab7;
			
			@media @mq-sm-min {
				margin: 0;
			}
			
			@media @mq-md-min {
				width: 95%;
			}
		}
		
		.whats-happening {
			width: 90%;
			margin: 0 auto;
			text-align: left;
			color: #337ab7;
			
			span {
				font-weight: bold;
				color: #84a2bb;
			}
		}		
	}
	.bottom-footer {
		height: 20px;
		margin-top: 20px;
		color: #000;
		font-size: 14px;	
		
		.tbk-link {
			text-align: center;	
			
			@media @mq-sm-min {
				text-align: left;
			}
		}
		
		.aoda-link {
			text-align: center;	
			font-size: 40px;
			
			@media @mq-sm-min {
				text-align: right;
			}
		}
	}
}


