@import '../utils/utils.less';

.navbar-header {
	background-color: #fff;
	border-color: #fff; 
	
	.navbar-brand {
		float: left;
		color: #3bb0c9; 
		padding-left: 0;
		
		@media @mq-md-min {
			padding-left: 15px;
		}

		&:hover,&:focus {
			color: mediumvioletred;
		}
		
		.logo {
			max-width: 160px;
			margin-top: 10px;
			
			@media @mq-sm-min {
				max-width: 180px;
			}
			
			@media @mq-md-min {
				max-width: 100%;
				margin-top: 30px;
			}
		}
	}
	
	.navbar-nav > li > a {
		color: #3bb0c9;
		
		&:hover,&:focus {
			color: mediumvioletred;
		}
	}	
}