.navbar-header {
	background-color: #fff;
	border-color: #fff; 
	
	.navbar-brand {
		float: left;
		color: #3bb0c9;

		&:hover,&:focus {
			color: mediumvioletred;
		}
		
		.logo {
			max-width: 170px;
			margin-top: 10px;
		}
	}
	
	.navbar-nav > li > a {
		color: #3bb0c9;
		
		&:hover,&:focus {
			color: mediumvioletred;
		}
	}	
}